---
layout: default
---

<article class="mt-20 mx-auto w-full max-w-2xl prose lg:prose-xl">
  <h1 class="my-8 text-center text-4xl font-bold text-gray-800 tracking-tight leading-none md:text-5xl xl:text-6xl">
  {{ page.title }}
  </h1>

  <section class="md:px-0 px-4">
    <div class="mb-4">
      {%- assign author = site.metadata.author %}
      {%- if author %}
        <div class="text-xl font-bold text-gray-900 ">
          {{ author }}
        </div>
      {%- endif %}
      <div class="text-base font-light text-gray-500">
        {{ page.date }}
      </div>

    </div>
    <div class="">
      {{ content }}
    </div>
  </section>
</article>

