<div class="mx-auto max-w-screen-lg md:grid md:gap-4 md:grid-cols-2">
  {% for resource in collection %}
    <div class="card bg-base-100 shadow border mb-4 md:mb-0">
      <div class="card-body">
        <h3 class="class-card">
          <a class="card-title" href="{{ resource.relative_url }}">
            {{ resource.title | smartify }}
          </a>
        </h3>
        {% if resource.subtitle and resource.subtitle != "" %}
          {% assign excerpt = resource.subtitle | smartify | prepend: "<p>" | append: "</p>" %}
        {% elsif resource.description and resource.description != "" %}
          {% assign excerpt = resource.description | smartify | prepend: "<p>" | append: "</p>" %}
        {% else %}
          {% assign excerpt = resource.excerpt %}
        {% endif %}
        {{ excerpt }}
        <div class="card-actions justify-end">
          <a href="{{ resource.relative_url }}" class="btn btn-sm bg-gray-700">
            <span>Read More</span>
            <span class="text-gray-300" aria-hidden="true">&rarr;</span>
          </a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

