<footer class="footer has-text-centered">
  <div class="container">
     <div class="columns">
      <div class="column is-8-desktop is-offset-2-desktop">
        <p class="is-flex is-align-content-center">
          <span class="icon">
            <ion-icon name="mail-outline"></ion-icon>
          </span>
          <span>
           <a href="mailto:{{ metadata.email }}">{{ metadata.email }}</a>
          </span>
        </p>
        <p class="is-flex is-align-content-center">
          <span class="icon">
            <ion-icon name="logo-github"></ion-icon>
          </span>
          <span>
            <a href="https://github.com/jamgar">GitHub</a>
          </span>
        </p>
      </div>
    </div>
  </div>
</footer>
