<footer class="footer footer-center p-10 bg-gray-600 text-white rounded">
  <div class="grid grid-flow-col gap-4">
    <a class="link link-hover">About</a> 
    <a class="link link-hover">Post</a> 
    <a class="link link-hover">Projects</a> 
  </div> 
  <div>
    <div class="grid grid-flow-col gap-4">
      <span>
        <a href="https://github.com/jamgar">GitHub</a>
      </span>
    </div>
  </div> 
  <div>
    <p>Copyright © 2022 - All right reserved by James Garcia</p>
  </div>
</footer>
